/* Write your CSS here */
.container {
  background-color: #07080c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.main-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 60px;
  }
}

.image {
  height: 40%;
  width: 60%;
}

.speed-display {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .speed-display {
    font-size: 40px;
  }
}

.accelerate-btn {
  background-color: #0b69ff;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #0b69ff;
  font-family: Roboto;
  border-radius: 3px;
  font-size: 10px;
  margin: 10px;
}

.brake-btn {
  background-color: #07080c;
  color: #cbd5e1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #cbd5e1;
  font-family: Roboto;
  border-radius: 3px;
  font-size: 10px;
  margin: 10px;
}

.description {
  color: #cbd5e1;
  font-family: Roboto;
  font-size: 10px;
  text-align: center;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 15px;
  }
}
